.hr {
  background-color: #000;
  height: 0.10em;
  margin-bottom: 0.75em;
}

.headline {
  margin-bottom: 0;
}

p {
  margin-top: 0;
}

h3 {
  font-size: 1.2em;
}

#logo {
  margin-bottom: 0.15em;
  font-size: 2.5em;
}

#content {
}

#sidebar {
  background-color: #ddd;
  height: 15em;
}

#footer h6 {
  margin: 0;
}
