/* From: http://fontstacks.r10.railsrumble.com/bundles/new?family_ids=194,220,228,230 */

/* Headline */
.afs-droid-sans { font-family: "Droid Sans", "Lucida Grande", "Verdana", "Arial", "Helvetica", "Gill Sans", sans-serif; ;}

/* Text */
.afs-gentium-book-basic { font-family: "Gentium Book Basic", "Georgia", "Palatino", "Times New Roman", "Baskerville", "Hoefler Text", serif; font-size: 118.06%;}

/* Decoration (e.g. Sidebars, Links, etc...) */
.afs-charis-sil { font-family: "Charis SIL", "Georgia", "Palatino", "Times New Roman", "Baskerville", "Hoefler Text", serif; font-size: 111.20%;}

/* Monospaced (e.g. Code Samples, etc...) */
.afs-liberation-mono { font-family: "Liberation Mono", Menlo, Courier New, Courier, Mono, monospace; font-size: 101.52%;}


@font-face {
  font-family: Droid Sans;
  src: url('/fonts/Droid-Sans/DroidSans-webfont.ttf');
  src: local('☺'), url('/fonts/Droid-Sans/DroidSans-webfont.woff') format('woff'), url('/fonts/Droid-Sans/DroidSans-webfont.ttf') format('truetype'), url('/fonts/Droid-Sans/DroidSans-webfont.svg#webfontX4pGz9fc') format('svg');
  font-weight: 400;
  font-style: normal;
}


@font-face {
  font-family: Droid Sans;
  src: url('/fonts/Droid-Sans/DroidSans-Bold-webfont.ttf');
  src: local('☺'), url('/fonts/Droid-Sans/DroidSans-Bold-webfont.woff') format('woff'), url('/fonts/Droid-Sans/DroidSans-Bold-webfont.ttf') format('truetype'), url('/fonts/Droid-Sans/DroidSans-Bold-webfont.svg#webfontX4pGz9fc') format('svg');
  font-weight: 700;
  font-style: normal;
}



@font-face {
  font-family: Gentium Book Basic;
  src: url('/fonts/Gentium-Basic/GenBkBasI-webfont.ttf');
  src: local('☺'), url('/fonts/Gentium-Basic/GenBkBasI-webfont.woff') format('woff'), url('/fonts/Gentium-Basic/GenBkBasI-webfont.ttf') format('truetype'), url('/fonts/Gentium-Basic/GenBkBasI-webfont.svg#webfontX4pGz9fc') format('svg');
  font-weight: 400;
  font-style: italic;
}


@font-face {
  font-family: Gentium Book Basic;
  src: url('/fonts/Gentium-Basic/GenBkBasR-webfont.ttf');
  src: local('☺'), url('/fonts/Gentium-Basic/GenBkBasR-webfont.woff') format('woff'), url('/fonts/Gentium-Basic/GenBkBasR-webfont.ttf') format('truetype'), url('/fonts/Gentium-Basic/GenBkBasR-webfont.svg#webfontX4pGz9fc') format('svg');
  font-weight: 400;
  font-style: normal;
}


@font-face {
  font-family: Gentium Book Basic;
  src: url('/fonts/Gentium-Basic/GenBkBasBI-webfont.ttf');
  src: local('☺'), url('/fonts/Gentium-Basic/GenBkBasBI-webfont.woff') format('woff'), url('/fonts/Gentium-Basic/GenBkBasBI-webfont.ttf') format('truetype'), url('/fonts/Gentium-Basic/GenBkBasBI-webfont.svg#webfontX4pGz9fc') format('svg');
  font-weight: 700;
  font-style: italic;
}


@font-face {
  font-family: Gentium Book Basic;
  src: url('/fonts/Gentium-Basic/GenBkBasB-webfont.ttf');
  src: local('☺'), url('/fonts/Gentium-Basic/GenBkBasB-webfont.woff') format('woff'), url('/fonts/Gentium-Basic/GenBkBasB-webfont.ttf') format('truetype'), url('/fonts/Gentium-Basic/GenBkBasB-webfont.svg#webfontX4pGz9fc') format('svg');
  font-weight: 700;
  font-style: normal;
}



@font-face {
  font-family: Charis SIL;
  src: url('/fonts/Charis-SIL/CharisSILB-webfont.ttf');
  src: local('☺'), url('/fonts/Charis-SIL/CharisSILB-webfont.woff') format('woff'), url('/fonts/Charis-SIL/CharisSILB-webfont.ttf') format('truetype'), url('/fonts/Charis-SIL/CharisSILB-webfont.svg#webfontX4pGz9fc') format('svg');
  font-weight: 700;
  font-style: normal;
}


@font-face {
  font-family: Charis SIL;
  src: url('/fonts/Charis-SIL/CharisSILBI-webfont.ttf');
  src: local('☺'), url('/fonts/Charis-SIL/CharisSILBI-webfont.woff') format('woff'), url('/fonts/Charis-SIL/CharisSILBI-webfont.ttf') format('truetype'), url('/fonts/Charis-SIL/CharisSILBI-webfont.svg#webfontX4pGz9fc') format('svg');
  font-weight: 700;
  font-style: italic;
}


@font-face {
  font-family: Charis SIL;
  src: url('/fonts/Charis-SIL/CharisSILR-webfont.ttf');
  src: local('☺'), url('/fonts/Charis-SIL/CharisSILR-webfont.woff') format('woff'), url('/fonts/Charis-SIL/CharisSILR-webfont.ttf') format('truetype'), url('/fonts/Charis-SIL/CharisSILR-webfont.svg#webfontX4pGz9fc') format('svg');
  font-weight: 400;
  font-style: normal;
}


@font-face {
  font-family: Charis SIL;
  src: url('/fonts/Charis-SIL/CharisSILI-webfont.ttf');
  src: local('☺'), url('/fonts/Charis-SIL/CharisSILI-webfont.woff') format('woff'), url('/fonts/Charis-SIL/CharisSILI-webfont.ttf') format('truetype'), url('/fonts/Charis-SIL/CharisSILI-webfont.svg#webfontX4pGz9fc') format('svg');
  font-weight: 400;
  font-style: italic;
}



@font-face {
  font-family: Liberation Mono;
  src: url('/fonts/Liberation-Mono/LiberationMono-Bold-webfont.ttf');
  src: local('☺'), url('/fonts/Liberation-Mono/LiberationMono-Bold-webfont.woff') format('woff'), url('/fonts/Liberation-Mono/LiberationMono-Bold-webfont.ttf') format('truetype'), url('/fonts/Liberation-Mono/LiberationMono-Bold-webfont.svg#webfontX4pGz9fc') format('svg');
  font-weight: 700;
  font-style: normal;
}


@font-face {
  font-family: Liberation Mono;
  src: url('/fonts/Liberation-Mono/LiberationMono-BoldItalic-webfont.ttf');
  src: local('☺'), url('/fonts/Liberation-Mono/LiberationMono-BoldItalic-webfont.woff') format('woff'), url('/fonts/Liberation-Mono/LiberationMono-BoldItalic-webfont.ttf') format('truetype'), url('/fonts/Liberation-Mono/LiberationMono-BoldItalic-webfont.svg#webfontX4pGz9fc') format('svg');
  font-weight: 700;
  font-style: italic;
}


@font-face {
  font-family: Liberation Mono;
  src: url('/fonts/Liberation-Mono/LiberationMono-Regular-webfont.ttf');
  src: local('☺'), url('/fonts/Liberation-Mono/LiberationMono-Regular-webfont.woff') format('woff'), url('/fonts/Liberation-Mono/LiberationMono-Regular-webfont.ttf') format('truetype'), url('/fonts/Liberation-Mono/LiberationMono-Regular-webfont.svg#webfontX4pGz9fc') format('svg');
  font-weight: 400;
  font-style: normal;
}


@font-face {
  font-family: Liberation Mono;
  src: url('/fonts/Liberation-Mono/LiberationMono-Italic-webfont.ttf');
  src: local('☺'), url('/fonts/Liberation-Mono/LiberationMono-Italic-webfont.woff') format('woff'), url('/fonts/Liberation-Mono/LiberationMono-Italic-webfont.ttf') format('truetype'), url('/fonts/Liberation-Mono/LiberationMono-Italic-webfont.svg#webfontX4pGz9fc') format('svg');
  font-weight: 400;
  font-style: italic;
}
