.afs-ofl-sorts-mill-goudy { font-family: "Sorts Mill Goudy", "Hoefler Text", "Baskerville", "Palatino", "Georgia", "Times New Roman", serif; ;}

body, .afs-ofl-sorts-mill-goudy { font-family: "Sorts Mill Goudy", "Hoefler Text", "Baskerville", "Palatino", "Georgia", "Times New Roman", serif; font-size: 1.000em;}

code, .afs-inconsolata { font-family: "Inconsolata", Menlo, Courier New, Courier, Mono, monospace; font-size: 0.934em;}


@font-face {
  font-family: 'Sorts Mill Goudy';
  src: url('fonts/Sorts-Mill-Goudy/GoudyStM-Italic-webfont.eot');
  src: local('☺'), url('fonts/Sorts-Mill-Goudy/GoudyStM-Italic-webfont.woff') format('woff'), url('fonts/Sorts-Mill-Goudy/GoudyStM-Italic-webfont.ttf') format('truetype'), url('fonts/Sorts-Mill-Goudy/GoudyStM-Italic-webfont.svg#webfontX4pGz9fc') format('svg');
  font-weight: 500;
  font-style: italic;
}


@font-face {
  font-family: 'Sorts Mill Goudy';
  src: url('fonts/Sorts-Mill-Goudy/GoudyStM-webfont.eot');
  src: local('☺'), url('fonts/Sorts-Mill-Goudy/GoudyStM-webfont.woff') format('woff'), url('fonts/Sorts-Mill-Goudy/GoudyStM-webfont.ttf') format('truetype'), url('fonts/Sorts-Mill-Goudy/GoudyStM-webfont.svg#webfontX4pGz9fc') format('svg');
  font-weight: 500;
  font-style: normal;
}



@font-face {
  font-family: 'Sorts Mill Goudy';
  src: url('fonts/Sorts-Mill-Goudy/GoudyStM-Italic-webfont.eot');
  src: local('☺'), url('fonts/Sorts-Mill-Goudy/GoudyStM-Italic-webfont.woff') format('woff'), url('fonts/Sorts-Mill-Goudy/GoudyStM-Italic-webfont.ttf') format('truetype'), url('fonts/Sorts-Mill-Goudy/GoudyStM-Italic-webfont.svg#webfontX4pGz9fc') format('svg');
  font-weight: 500;
  font-style: italic;
}


@font-face {
  font-family: 'Sorts Mill Goudy';
  src: url('fonts/Sorts-Mill-Goudy/GoudyStM-webfont.eot');
  src: local('☺'), url('fonts/Sorts-Mill-Goudy/GoudyStM-webfont.woff') format('woff'), url('fonts/Sorts-Mill-Goudy/GoudyStM-webfont.ttf') format('truetype'), url('fonts/Sorts-Mill-Goudy/GoudyStM-webfont.svg#webfontX4pGz9fc') format('svg');
  font-weight: 500;
  font-style: normal;
}



@font-face {
  font-family: 'Sorts Mill Goudy';
  src: url('fonts/Sorts-Mill-Goudy/GoudyStM-Italic-webfont.eot');
  src: local('☺'), url('fonts/Sorts-Mill-Goudy/GoudyStM-Italic-webfont.woff') format('woff'), url('fonts/Sorts-Mill-Goudy/GoudyStM-Italic-webfont.ttf') format('truetype'), url('fonts/Sorts-Mill-Goudy/GoudyStM-Italic-webfont.svg#webfontX4pGz9fc') format('svg');
  font-weight: 500;
  font-style: italic;
}


@font-face {
  font-family: 'Sorts Mill Goudy';
  src: url('fonts/Sorts-Mill-Goudy/GoudyStM-webfont.eot');
  src: local('☺'), url('fonts/Sorts-Mill-Goudy/GoudyStM-webfont.woff') format('woff'), url('fonts/Sorts-Mill-Goudy/GoudyStM-webfont.ttf') format('truetype'), url('fonts/Sorts-Mill-Goudy/GoudyStM-webfont.svg#webfontX4pGz9fc') format('svg');
  font-weight: 500;
  font-style: normal;
}



@font-face {
  font-family: 'Inconsolata';
  src: url('fonts/Inconsolata/Inconsolata-webfont.eot');
  src: local('☺'), url('fonts/Inconsolata/Inconsolata-webfont.woff') format('woff'), url('fonts/Inconsolata/Inconsolata-webfont.ttf') format('truetype'), url('fonts/Inconsolata/Inconsolata-webfont.svg#webfontX4pGz9fc') format('svg');
  font-weight: 500;
  font-style: normal;
}
